<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>

    <div class="container" id="row-container">
        <div class="row" id="row">
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΕΡΕΥΝΗΤΕΣ</h4>
                        <p class="card-text" id="paragraph">Προεπισκόπηση όλων των ερευνητών</p>
                        <a class="btn btn-primary" id="show-btn" href="/ereunitis">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΕΡΓΑ</h4>
                        <p class="card-text" id="paragraph">Προεπισκόπηση όλων των έργων</p>
                        <a class="btn btn-primary" id="show-btn" href="/ergo">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΔΙΕΥΘΥΝΣΕΙΣ ΕΛΙΔΕΚ</h4>
                        <p class="card-text" id="paragraph">Προεπισκόπηση όλων των διευθύνσεων του ΕΛΙΔΕΚ</p>
                        <a class="btn btn-primary" id="show-btn" href="/dieuthinsi">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΕΠΙΣΤΗΜΟΝΙΚΑ ΠΕΔΙΑ</h4>
                        <p class="card-text" id="paragraph">Προεπισκόπηση όλων των επιστημονικών πεδίων</p>
                        <a class="btn btn-primary" id="show-btn" href="/pedio">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΟΡΓΑΝΙΣΜΟΙ</h4>
                        <p class="card-text" id="paragraph">Προεπισκόπηση όλων των οργανισμών</p>
                        <a class="btn btn-primary" id="show-btn" href="/organismos">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΠΑΡΑΔΟΤΕΑ</h4>
                        <p class="card-text" id="paragraph">Προεπισκόπηση όλων των παραδοτέων</p>
                        <a class="btn btn-primary" id="show-btn" href="/paradoteo">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΠΡΟΓΡΑΜΜΑΤΑ</h4>
                        <p class="card-text" id="paragraph">Προεπισκόπηση όλων των προγραμμάτων</p>
                        <a class="btn btn-primary" id="show-btn" href="/programma">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΣΤΕΛΕΧΗ</h4>
                        <p class="card-text" id="paragraph">Προεπισκόπηση όλων των στελεχών</p>
                        <a class="btn btn-primary" id="show-btn" href="/stelexos">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΖΗΤΟΥΜΕΝΟ 2 - 1η ΟΨΗ</h4>
                        <p class="card-text" id="paragraph">Όψη έργων ανά ερευνητή</p>
                        <a class="btn btn-primary" id="show-btn" href="/z2">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΖΗΤΟΥΜΕΝΟ 2 - 2η ΟΨΗ</h4>
                        <p class="card-text" id="paragraph">Όψη έργων ανά επιστημονικό πεδίο</p>
                        <a class="btn btn-primary" id="show-btn" href="/z22">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΖΗΤΟΥΜΕΝΟ 3</h4>
                        <p class="card-text" id="paragraph">Επιστημονικό πεδίο που απέκτησε ενδιαφέρον</p>
                        <form id="pedio-form" method="get" onsubmit="return mysubmit();">
                            <label for="pedio-select">ΠΕΔΙΟ:</label>
                            <select id="pedio-select" name="id" form="pedio-form">
                                <% fields.forEach((pedio, _) => { %>
                                <option value="<%= pedio.id %>" action="/<% pedio.id %>" method="GET"><%= pedio.id + ' - ' + pedio.ονομα %></option>
                                <% }) %>
                            </select> </br></br>
                            <input name="submit" type="submit" value="Submit" class="btn btn-primary"/><br>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΖΗΤΟΥΜΕΝΟ 4</h4>
                        <p class="card-text" id="paragraph">Οργανισμοί με ίδιο αριθμό έργων για 2 χρόνια</p>
                        <a class="btn btn-primary" id="show-btn" href="/z4">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΖΗΤΟΥΜΕΝΟ 5</h4>
                        <p class="card-text" id="paragraph">Ζεύγη πεδίων με τα περισσότερα λεφτά</p>
                        <a class="btn btn-primary" id="show-btn" href="/z5">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΖΗΤΟΥΜΕΝΟ 6</h4>
                        <p class="card-text" id="paragraph">Νέοι ερευνητές που εργάζονται στα περισσότερα έργα</p>
                        <a class="btn btn-primary" id="show-btn" href="/z6">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΖΗΤΟΥΜΕΝΟ 7</h4>
                        <p class="card-text" id="paragraph">Στελέχη που έχουν δώσει τα περισσότερα λεφτά</p>
                        <a class="btn btn-primary" id="show-btn" href="/z7">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">ΖΗΤΟΥΜΕΝΟ 8</h4>
                        <p class="card-text" id="paragraph">Ερευνητές που εργάζονται σε πολλά έργα χωρίς παραδοτέα</p>
                        <a class="btn btn-primary" id="show-btn" href="/z8">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('pedio-form').addEventListener('submit',(e)=>{
          e.preventDefault();
          window.location = 'z3/' + (document.getElementById('pedio-select').value);
         })
    </script>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $(document).ready(function() {
            toastr.options = {
                "closeButton": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false
            };
            /* In order to access variables sent to ejs file to script you must Parse them to string */
            /* then to parse them back to JSON */
            let messages = '<%- JSON.stringify(messages) %>';
            messages = JSON.parse(messages);
            messages.forEach(({
                type,
                value
            }) => {
                switch (type) {
                    case 'error':
                        toastr.error(value)
                        break;
                    case 'success':
                        toastr.success(value)
                        break;
                    case 'warning':
                        toastr.warning(value)
                        break;
                    default:
                        toastr.info(value)
                        break;
                }
            });
        })
    </script>

</body>

</html>